@import 'variables';

@mixin h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-medium;
}

@mixin h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-regular;
}

@mixin h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-regular;
}

@mixin text-body {
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  letter-spacing: 0.01em;
}

@mixin text-body-small {
  font-size: $font-size-body-small;
}

@mixin text-heading {
  font-size: $font-size-label-heading;
  font-weight: $font-weight-medium;
}

@mixin text-large {
  font-size: $font-size-label-large;
  font-weight: $font-weight-regular;
}

@mixin text-medium {
  font-size: $font-size-label-medium;
  font-weight: $font-weight-regular;
}

@mixin text-small {
  font-size: $font-size-label-small;
  font-weight: $font-weight-regular;
}

@mixin text-hint {
  font-size: $font-size-label-medium;
  font-weight: $font-weight-regular;
  color: $light-grey;
}

@mixin icon-size($fontSize: $font-size-label-small) {
  font-size: $fontSize;
  width: $fontSize;
  height: $fontSize;
  line-height: $fontSize;
}
