// ******** Font stack ***********
$font-stack: 'DM Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

// ********* Font Weights *********
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// ********* Font Sizes **********
$font-size-h1: 40px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-body: 16px;
$font-size-body-small: 14px;
$font-size-label-large: 14px;
$font-size-label-heading: 14px;
$font-size-label-medium: 12px;
$font-size-label-small: 10px;
$font-size-input: 10px;
$font-size-hint: 10px;

// *********** Font Line Heights *********
$font-line-height: 1.42857143;

// *********** Font Letter Spacing ********
$font-letter-spacing-px: 1px;
$font-letter-spacing-em: 0.01em;
